<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="row">
      <div class="col-3">
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            You can
            <br />
            Learn Anything!
          </div>
        <% end %>
      </div>
      <div class="col-4 slogan">
        Random Quote Generator
      </div>
      <div class="col-5 links">
        <!-- Button trigger modal -->
      <%= link_to 'Add Quote', '#', data: {toggle: 'modal', target: '#myModal'} %>
        &nbsp;&nbsp;
        <%= link_to 'About', about_path %>
      </div>
    </header>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
          <div class="modal-body">
            <h1 class="modal-title" id="myModalLabel">What's the Quote?</h1>
            <br />
              <%= simple_form_for Quote.new do |f| %>
                <%= f.input :saying, label: "What'd they say?" %>
                <br />
                <%= f.input :author, label: "Who said it?"%>
                <br/>
                <%= f.submit 'Create', class: 'btn btn-primary' %>
              <% end %>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

    <hr />
    <br class="clear" />
    
    <div class="container">
      <% if flash[:error].present? %>
        <div class="col-10 offset-1 alert alert-danger">
          <%= flash[:error].html_safe %>
        </div>
      <% end %>  
      <%= yield %>
    </div>


    <div class="footer">
      <div class="container">
        <div class="row">
          <div class ="col-6">
          <%= link_to "Next Quote", root_path, class: 'next-quote' %>
          </div>
          <div class="col-6 footer-blurb">
            Built by <a href="https://twitter.com/Thirdeyeclimber">Michael</a><br />
            with instruction from <a href="https://online.bootcampspot.com">Trilogy</a>
          </div>
        </div>
      </div>
    </div>


  </body>
</html>
